
<ul class="stats">
    <li class="stat1">Current games: <number>"<%= Number.parseInt(currentGames) %>"<number></li>
    <li class="stat2">Total games played: <number>"<%= Number.parseInt(totalGames) %>"</number></li>
    <li class="stat3"> BG Win/Lose Ratio: <number>"<%= (Loses === 0) ? "Never beaten" : (Wins/Loses) %>"</number></li>
</ul>