html ,body  {
	height: 100%;
	width: 100%;
}

html {
	background-image: url("../images/chess_background.jfif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	
}

main , footer {
	animation-name: invisibility;
	animation-duration: 2.50s;
}

@keyframes invisibility {
	from {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes moveUp {
	0% {
		position: relative;
		top: 15em;
	}

	70% {
		position: relative;
		top: 15em;
	}

	100% {
		position: relative;
		top:  0em;
	}
}


header {
	display: inline-flex;
	width: 100%;
	height: 25%;
	animation-name: moveUp;
	animation-iteration-count: 1;
	animation-duration: 2.50s;
}


header div {
	width: 20%;
}

header h1 {
	width: 60%;
	text-align: center;
	box-sizing: border-box;
	font-size: 600%;
	margin-top: 4%;
}

main {
	margin-top: 2%;
	height: 20%;
	text-align: center;
}	

main button {
	border-radius: 20px;
	height: 70%;
	width: 20%;
	font-size: 195%;
	transition: width 1s;
	transition-timing-function:  linear;
}

main button.transit:hover {
	width: 40%;
	color: brown;
	background-color: ;
	cursor: pointer;
	
}

footer {
	height: 50%;
	display: flex;
	border-top: 2px black;
	border-bottom: 2px black;
	border-top-style: dashed;
	border-bottom-style: dashed;
}

footer div.Statistics {

	border-right: 2px black;
	border-right-style: dashed;
	width: 50%;
	height: 100%;
}

p.Stats_Header, p.Info_Header {
	height: 10%;
	text-align: center;
	font-size: 200%;
	border-bottom: 1px solid black;
}

.Statistics .stats li {
	font-size: 150%;
	margin-top: 10%;
}

li p {
	display: inline-block;
}


footer div.Information {
	width: 50%;
	height: 100%;
}

div.info {
	height: 90%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	text-indent: 5%;
}

 div.info p {
	font-size: 150%;
}

strong {
	color: rgb(129, 118, 21);
}


