
html , body {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 10px solid grey;
  background-color: bisque;
}

.Timer {
  margin: 10px;
  width: 100px;
  height: 50px;
  border: 3px dashed blue;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 10px;
  font-size: 200%;
}

#connect4 {
  background-color: cadetblue;
  display: inline-block;
}

#Messages {
    height: 10%;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}

.next-red {
  background-color: brown;
}

.own {
  background-color: blue;
}

.enemy {
  background-color: green;
}

.animated {
    animation-name: movecell;
    animation-duration: 1s;
}

@keyframes movecell {
    from {
        position: relative;
        bottom: 500px;
    }
    to {
        position: relative;
        bottom: 0px;
    }
}